<h3>Edit Hero</h3>
<form [formGroup]="heroForm" (ngSubmit)="updateHero()">
    
    <label for="name">Name</label>
    <input mat-input name="name" formControlName="name" appUppercase>
    
    <label for="description">Descriprion</label>
    <input mat-input  name="description" formControlName="description">
    
    <label for="superPower">Super Powers</label>
    <input mat-input  name="superPower" formControlName="superPower">

    <button type="submit" [disabled]="!heroForm.valid">Submit</button>

</form>